# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Mac
.DS_Store

# Docker/Postgres local data
postgres_data/

# IDE/editor
.vscode/
.idea/
